{% extends "base.html" %}

{% block title %}Blackjack Game{% endblock %}

{% block content %}
<style>
    /* CSS for making text white Hi!!!*/
    body {
        color: white;
    }
</style>
<div class="text-center">
    <h1 class="extravaganza-header">Welcome to Intern Amy's Blackjack Extravaganza!</h1>
    <div class="d-flex justify-content-center">
        <img class="img-fluid mx-auto" src="{{ url_for('static', filename='images/blackjack.png') }}" width="512" height="512">
    </div>
    {% if 'username' in session %}
    <p>Welcome, {{ session['username'] }}!</p>
    <form action="{{ url_for('start_game') }}" method="POST">
        <button type="submit" class="btn btn-primary mt-4">Start Game</button>
    </form>
    <a href="{{ url_for('logout') }}" class="btn btn-danger mt-4">Logout</a>
    {% else %}
    <a href="{{ url_for('register') }}" class="btn btn-primary mt-4">Register</a>
    <a href="{{ url_for('login') }}" class="btn btn-secondary mt-4">Login</a>
    {% endif %}
</div>
<!-- <div class="text-center">
    <a href="{{ url_for('leaderboard') }}" class="btn btn-secondary mt-4">Leaderboard</a>
</div> -->
{% endblock %}


